{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
<head>
 <title>Debucks</title>
 <link rel="shortcut icon" href="{% static '/assets/img/favicon.ico' %}" type="image/x-icon" />
 <!-- meta -->
 <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

 <!-- css -->
 <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/api.css' %}"/>
 <!-- fonts -->
 <link rel="stylesheet" type="text/css" href="/path/to/your/fonts/folder/fonts.min.css" />
 <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>

  <header class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-5 col-sm-4 header-logo">
          <br>
          <a href="{% url 'index' %}"> 
            <img src="{% static '/assets/img/logo.png' %}" class="logo-img"/>
          </a>
        </div>
        <div class="col-md-8 col-md-offset-1 col-xs-7">
          <nav class="navbar navbar-default">
            <div class="container-fluid nav-bar">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-def" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right header-txt">
                  <li>
                    <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                  </li>
                  <li>
                    <a href="{% url 'dashboard' %}"><i class="fa fa-bookmark"></i> Dashboard</a>
                  </li>
                  <li>
                    <a href="{% url 'swap' %}"><i class="fa fa-wordpress"></i> Exchange</a>
                  </li>
                  <li>
                    <a href="{% url 'contact_us' %}"><i class="fa fa-tasks"></i> Contact Us</a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="{% url 'api' %}">Api</a></li>
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /navbar-collapse -->
            </div><!-- / .container-fluid -->
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="con-about">
    <h3>COMING SOON</h3>
    <p>OUR API DOCUMENTATION WILL BE READY IN A FEW WEEKS</p>
    <img src="{% static '/assets/img/api-logo.png' %}"/>
  </div>

</body>
</html>